<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser =  <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  <% end %>
  window.assets = {
    temple: "<%= image_url('temple.jpg') %>",
    francis: "<%= image_url('francis-drake.jpg') %>",
    favicon: "<%= image_url('favicon.ico') %>",
    star: "<%= image_url('star.png') %>",
    github: "<%= image_url('github.png') %>"
  }
</script>

<main id="root"></main>
